<html>
  <head>
    <title>New</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="formarea">
      <h1>New Message</h1>
      <form method="POST" action="/new" class="form">
        <label class="row">
          Name *
          <input type="text"  name = "name" placeholder="Name" maxlength="16" required/>
        </label>
        <label class="row">
          Message *
          <input type="text" name = "text" placeholder="Message" required/>
        </label>
        <button class="button2">Submit</button>
      </form>
    </div>
  </body>
</html>
