<html>
  <head>
    <title>New</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>New Message</h1>
    <form method="POST" action="/new" class="form">
      <label class="row">
        Name
        <input type="text"  name = "name" placeholder="Name" />
      </label>

      <label class="row">
        Message
        <input type="text" name = "text" placeholder="Message" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
