<html>
  <head>
    <title>Info</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="mainarea">
        
        <div class="infoctr">
          <p class="extra">User: <%= message.name %></p>
          <p class="extra">Date: <%= message.added %></p>
          <p class="extra">Message: <%= message.text %></p>
        </div>
      </div>
      <a class="button" href="/new">Add new Message!</a>
    </main>
  </body>
</html>
