<html>
  <head>
    <title>New</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>New todo</h1>
  </body>
</html>
